:root {
    --green: #3f724d;
    --darkgreen: #2c483f;
    --lightgreen: #a6bb8d;
    --lightgreen2: #ecf0e6;
    --yellow: #eae7b1;
    --white: #fff;
    /* main colors */
    --primary-color: var(--green);
    --secondary-color: var(--lightgreen);
    /* ui colors */
    --bg-color: var(--white);
    --bg-on-color: var(--lightgreen2);
    --button-color: var(--green);
    --button-dark-color: var(--darkgreen);
    --button-hover-color: var(--lightgreen);
    --button-dark-hover-color: var(--green);
    --tag-color: var(--lightgreen2);
    /* box shadow */
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border-radius */
    --border-radius-sm: 3px;
    --border-radius-md: 5px;
    --border-radius-lg: 7px;
    /* line-height */
    --lh-initial: 13;
    --line-height-sm: calc((var(--lh-initial) + 2) / var(--lh-initial));
    --line-height-md: calc((var(--lh-initial) + 4) / var(--lh-initial));
    --line-height-lg: calc((var(--lh-initial) + 8) / var(--lh-initial));
    /* font size */
    --font-head1-size: 45px;
    --font-head2-size: 25px;
    --font-title-size: 22.2px;
    --font-body-size: 12px;
    /* font weight */
    --font-normal: 400;
    --font-medium: 600;
    --font-bold: 700;
}
/* layout */
html {
    height: 100%;
    font-size: 13px;
}
body {
    height: 100%;
    font-size: var(--font-body-size);
}
#root {
    height: 100%;
}
/* logo */
.logo {
    font-family: "Viga", sans-serif;
}
/* input */
input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: var(--green);
    cursor: pointer;
}
/* button */
button {
    border-radius: 10px;
    border: none;
    padding: 8px 10px;
    background-color: var(--button-color);
    color: var(--white);
}
button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
    transition: 0.5s;
}

/* board style */
.boardTextarea1 {
    outline: 1px solid var(--green);
}
.boardTextarea1:hover {
    outline: 1px solid var(--lightgreen);
}
.boardErrorMessage {
    color: red;
    font-size: 14px;
    margin: 10px 0 0 5px;
}
.boardErrorTextarea1 {
    outline: 1px solid red;
}
.boardErrorTextarea1:hover {
    outline: 1px solid red;
}
